body {
    min-width: 700px;
}

section {
    width: 900px;
    margin: auto;
    min-width: 700px;
}

header {
    background: #9ACD32;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 70%;
    margin: auto;
    min-width: 700px;
    border-radius: 5px;
}

footer {
    background: #9ACD32;
    color: #2E6E9E;
    text-align: center;
    height: 34px;
    width: 70%;
    margin: auto;
    min-width: 700px;
    border-radius: 5px;
}

hr {
    width: 60%;
}

table {
    margin: auto;
}

.center {
    text-align: center;
}

button {
    margin: 10px;
}

.section {
    margin-top: 35px;
}

.section h3 {
    margin: 0 0 5px;
}

li {
    margin: 0;
}

ul {
    margin: 0;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h2, h3 {
    margin: 15px 0 5px;
}

a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background: url(../img/so.png) no-repeat center left;
}

a[href^="https://www.linkedin.com"] {
    padding-left: 20px !important;
    background: url(../img/lin.png) no-repeat center left;
}

a[href*="github."] {
    padding-left: 20px !important;
    background: url(../img/gh.png) no-repeat center left;
}